<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('分类管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>

    $(function(){

        var data4Vue = {
            uri:'categories',  //接收来自CategoryController过来的数据
            pagination:{},
            beans: [],
            bean: { id: 0, name: ''},//bean 用来存放分类信息
            file: null //file 用来表示上传的文件
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },

            methods: {
                //删除分类 在下面页面代码中 调用删除功能 @click="deleteBean(bean.id)"
                deleteBean: function (id) {
                    //确认是否删除，
                    //checkDeleteLink()在 adminHeader.html 中定义
                    //传过来是确认删除的true，！true就是不执行return，开始下面的删除
                    if(!checkDeleteLink())
                        return;

                    //组织url, 删除的规范是 /categoreis/123. 要这样写
                    var url = this.uri+"/"+id;

                    //axios 提交 delete 请求
                    axios.delete(url).then(function(response){

                        //根据 REST 规范，当删除数据后，应该返回一个空字符串，
                        // 所以会判断 0!=response.data.length
                        if(0!=response.data.length){
                            alert(response.data);
                        }
                        else{
                            vue.list(0);
                        }
                    });
                },

                //获取准备上传的文件
                getFile: function (event) {
                    this.file = event.target.files[0];
                },

                //上传文件
                add: function () {

                    //上传之前先验证
                    if(!checkEmpty(this.bean.name, "分类名称"))
                        return;
                    if(!checkEmpty(this.file, "分类图片"))
                        return;

                    //首先拿到上传的跳转的uri，给controller的地址
                    var url = this.uri;

                    //文件上传添加步骤：axios.js 上传文件要用 formData 这种方式
                    var formData = new FormData();
                    formData.append("image", this.file);
                    formData.append("name", this.bean.name);

                    //正式上传，发送post请求到后端服务器
                    axios.post(url,formData).then(function(response){
                        vue.list(0);//上传成功后， 调用 vue.list(0) 重新查询第一页的数据。
                        vue.bean = { id: 0, name: '', hp: '0'};

                        $("#categoryPic").val('');
                        vue.file = null;//上传之后把刚刚上传功能存的图片清空
                    });
                },

                //list方法带上了参数start，
                //通过 categories 获取数据的时候，带上了这个参数
                list:function(start){

                    var url =  this.uri+ "?start="+start;//通过拼接?start来获取start的数据

                    //获取到的参数，以前是 json 化后的 category数组，
                    //axios异步拿到url的响应回来的Page4Navigator对象数组，并且将其拿出来response.data.content
                    axios.get(url).then(function(response) {

                        //response.data将Page4Navigator对象数组数据装进data4Vue的pagination:{}里面
                        vue.pagination = response.data;

                        vue.beans = response.data.content	;
                    });
                },
                //增加的jump跳转方法
                jump: function(page){//跳转最后或者第一页
                    jump(page,vue); //这个方法在这里只是调用，真正的定义在adminHeader.html 中
                },

                jumpByNumber: function(start){//跳转前一页，后一页，前两页，后两页
                    jumpByNumber(start,vue);
                }
            }
        });
    });

</script>
<!--总页面-->
<div id="workingArea" >
    <h1 class="label label-info" >分类管理</h1>
    <br>
    <br>
    <div class="listDataTableDiv">

<!--  展示信息的部分     -->
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>图片</th>
                <th>分类名称</th>
                <th>属性管理</th>
                <th>产品管理</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    <img height="40px"  :src="'img/category/'+bean.id+'.jpg'">
                </td>
                <td>
                    {{bean.name}}
                </td>
                <td>
                    <a :href="'admin_property_list?cid=' + bean.id "><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
                <td>
                    <a :href="'admin_product_list?cid=' + bean.id "><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </td>

                <!--编辑的超链接-->
                <td>
                    <a :href="'admin_category_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                </td>

                <!--删除的超链接-->
                <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<!-- 这个是分页栏-->
    <div th:replace="include/admin/adminPage::html" ></div>

<!--    上传图片的部分-->
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增分类</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>分类名称</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>

                <!--上传图片-->
                <tr>
                    <td>分类图片</td>
                    <td>
                        <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                    </td>
                </tr>


                <tr class="submitTR">

                    <td colspan="2" align="center">
                        <a href="#nowhere"  @click="add" class="btn btn-success">提交</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>


</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>

